.feedback-form__container {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.feedback-form__wrapper {
  position: relative;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    grid-column-gap: 70px;

    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      display: block;
      background-color: #e5e5e5;
      top: 0;
      left: 50%;
    }
  }

  @media (min-width: @desktop-width) {
    grid-column-gap: 128px;
  }
}


.feedback-form__item {
  &:not(:last-child)::after {
    content: "";
    height: 1px;
    display: block;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 24px;
    margin-bottom: 24px;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 56px;
  }
}


.feedback-form__item-impression {
  @media (min-width: @tablet-width) {
    width: 100%;
    margin-top: 56px;
  }
}

.feedback-form__item-visited-sight {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.feedback-form__item-emotions {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.feedback-form__button-wrapper {
  position: relative;
  padding-bottom: 24px;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.feedback__button {
  border: none;
  display: block;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin-left: 23px;
  }
}

.feedback__footnote {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: #33333399;
  display: block;
  width: 189px;
  text-align: right;
  margin-left: auto;
}

.feedback-form__personal-data {
  padding: 0;
  margin: 0;
  border: none;
}

.feedback-form__personal-list {
  .list-none-style();
}

.feedback-form__personal-title {
  padding: 0;
  .font-size-title-style();
  text-align: center;
  max-width: 295px;
  display: block;
  margin: 0 auto;
}

.feedback-form__personal-item {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
