.feedback-form__container {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.feedback-form__wrapper {
  @media (min-width: @tablet-width) {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    grid-column-gap: 48px;
    padding-bottom: 15px;

    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      display: block;
      background-color: #e5e5e5;
      top: 0;
      left: 50%;
      margin-left: -1px;

      @media (min-width: @desktop-width) {
        margin-left: 24px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    grid-column-gap: 60px;
  }
}

.feedback-form__item-personal {
  padding-bottom: 40px;
  margin-bottom: 26px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background: #e5e5e5;
    bottom: 0;
    margin-bottom: 24px;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.feedback-form__item-contacts {
  padding-bottom: 36px;
  margin-bottom: 26px;
  position: relative;


  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background: #e5e5e5;
    bottom: 0;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 28px;
  }
}

.feedback-form__item-impression {
  padding: 0;
  margin: 0;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background: #e5e5e5;
    bottom: -6px;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-top: 49px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 57px;
  }
}

.feedback-form__item-visited {
  margin-top: 32px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background: #e5e5e5;
    bottom: -7px;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-top: 59px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 84px;
  }
}


.feedback-form__item-emotions {
  margin-top: 32px;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-top: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 71px;
  }
}

.feedback-form__button-wrapper {
  position: relative;
  padding-bottom: 24px;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 62px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 96px;
  }
}

.feedback-form__button {
  border: none;
  display: block;
  margin: 0 auto;
  max-width: 280px;
  padding: 16px 48px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 27px;
    margin: 0;
    min-width: 324px;
  }

  @media (min-width: @desktop-width) {
    min-width: 383px;
  }
}

.feedback__footnote {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: #33333399;
  display: block;
  width: 189px;
  text-align: right;
  margin-left: auto;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 21px;
    margin-top: 8px;
  }
}
