.hero-form {
  position: relative;
  background: #82b3d3 url("../../img/backgrounds/hero-form-background-mobile@1x.jpg") no-repeat center center/cover;
  padding: 52px 0 67px 0;
  min-height: 158px;
  max-width: 1200px;
  box-sizing: border-box;
}

.hero-form__title {
  display: block;
  margin: 0 auto;
  min-width: 229px;
  min-height: 39px;

  @media (min-width: @tablet-width) {
    min-width: 457px;
    min-height: 78px;
  }
}
