.hero {
  position: relative;
  background: #ffffff url("../../img/backgrounds/hero-background-mobile@1x.jpeg") no-repeat center center;
  padding: 55px 0 85px 0;
  height: 389px;
  box-sizing: border-box;
}

.hero__title {
  display: block;
  margin: 0 auto;
  min-width: 282px;
  min-height: 214px;
}
