.hero {
  position: relative;
  background: #ffffff url("../../img/backgrounds/hero-background-mobile@1x.jpeg") no-repeat center center;
  padding: 55px 0 85px 0;
  height: 389px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    background: #82b3d3 url("../../img/backgrounds/hero-background-tablet@1x.jpg") no-repeat center center/cover;
    padding: 77px 0 91px 0;
    min-height: 518px;
  }
}

.hero__title {
  display: block;
  margin: 0 auto;
  min-width: 282px;
  min-height: 214px;

  @media (min-width: @tablet-width) {
    min-width: 461px;
    min-height: 350px;
  }
}
